<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color picker</title>
    <link rel="stylesheet" href="color_picker.css">
</head>
<body>
    <h2>Colour Picker</h2>
    <div id="app" class="container">
       <div class="box-container">
        <div id="display" :class="[selectedcolour,selectedshape]"></div>
       </div>
        <div class="dropdown">
            <div class="colour">
                <label id="label-colour">Colour:</label>
                <select name="" id="select-color" v-model="selectedcolour">
                    <option v-for="colour in colours" :key="colour.id" :value="colour.text">{{colour.text}}</option>
                </select>
            </div>
            <div class="shape">
                <label id="label-shape">Shape:</label>
                <select name="" id="select-shape" v-model="selectedshape">
                    <option v-for="shape in shapes" :key="shape.id" :value="shape.text">{{shape.text}}</option>
                </select>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="color_picker.js"></script>
</body>
</html>