*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
}
h2{
    text-align: center;
    margin: 20px;
}
.box-container{
    padding: 50px;
    border: solid 1px;
    margin: 50px  auto;
    width: 200px;
    height: 200px; 
}
#display{
   border: 1px;
}
.dropdown{
    display: flex;
    margin-top: 100px;
    margin-right: 250px;
}
select{
    width: 200px;
    height: 25px;
}
#label-shape, #label-colour{
    margin:10px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.rectangle{
    width: 100px;
    height: 50px;
}
.square{
    width: 100px;
    height: 100px;
}
